@font-face {
    font-family: OPPOSansR;
    src: url(font/OPPOSans-R.ttf)
}

@font-face {
    font-family: OPPOSansM;
    src: url(font/OPPOSans-M.ttf)
}

@font-face {
    font-family: OPPOSansH;
    src: url(font/OPPOSans-H.ttf)
}

body {
    font-family: OPPOSansR;
    background-color: rgba(242, 234, 191, 0.15);
}

div .partDiv {
    background-color: lightgray;
}

.partLeft {
    height: inherit;
    float: left;
    background-color: sandybrown;
}

.partRight {
    height: inherit;
    float: left;
    margin-left: 20px;
    background-color: royalblue;
}

.centerDiv {
    margin: 0 auto;
    width: 1200px;
    /* border: 2px solid dodgerblue; */
    /* background-color: dodgerblue; */
}

.partDiv {
    margin-top: 20px;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#tyName {
    font-size: 16px;
    /* font-weight: normal; */
}

a:link a:visited {
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: white;
    background-color: gray;
}

.noLineLink {
    text-decoration: none;
}

svg {
    margin-top: -6px;
    display: inline-block;
    vertical-align: middle!important;
    fill: gray;
}