@font-face {
    font-family: OPPOSansR;
    src: url(font/OPPOSans-R.ttf)
}

@font-face {
    font-family: OPPOSansM;
    src: url(font/OPPOSans-M.ttf)
}

@font-face {
    font-family: OPPOSansH;
    src: url(font/OPPOSans-H.ttf)
}

body {
    font-family: OPPOSansR;
    background-color: rgba(242, 234, 191, 0.3);
}

button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    border: 2px solid;
    border-radius: 2px;
    font-family: OPPOSansM;
    font-size: 16px;
    color: #FFF;
    width: 96px;
    height: 30px;
    margin-left: 20px;
}

#dataTypeSelector {
    width: 458px;
    height: 40px;
    margin: 15px 20px 10px 20px;
    padding: 0;
    border-width: 4px;
    font-size: 18px;
    font-weight: 900;
    background-color: rgba(242, 234, 191, 1);
    color: #893448;
    cursor: default;
}

p {
    font-size: 18px;
    line-height: 18px;
    margin: 0em;
    font-family: OPPOSansM;
}

div .partDiv {
    background-color: rgba(242, 234, 191, 0.3);
}

.partLeft {
    height: inherit;
    float: left;
    /* background-color: sandybrown; */
}

.partRight {
    height: inherit;
    float: left;
    margin-left: 20px;
    /* background-color: royalblue; */
}

.centerDiv {
    margin: 0 auto;
    width: 1200px;
    /* border: 2px solid dodgerblue; */
    /* background-color: dodgerblue; */
}

.partDiv {
    margin-top: 20px;
}

h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#tyName {
    font-size: 16px;
    /* font-weight: normal; */
}

a:link a:visited {
    color: gray;
}

a:visited {
    color: gray;
}

a:hover {
    color: white;
    background-color: gray;
}

.noLineLink {
    text-decoration: none;
}

svg {
    margin-top: -6px;
    display: inline-block;
    vertical-align: middle!important;
    fill: gray;
}